@use "../../Assets/Sass/variables" as *;

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  border: 1px $color-primary;
  border-radius: 5px;
  padding: 10px;
  margin: 50px;
  width: 80%;
  &__Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__Arrow {
    display: block;
    height: 30px;
    margin: 10px;
  }
  &__Content {
    display: flex;
  }
  &__Content--Image {
    margin: 10px;
    height: 200px;
  }
}

@media all and (max-width: $breakpointmobile) {
  .projects {
    display: inline-block;
    &__Content--Image {
      display: none;
    }
  }
}
