@use "../../Assets/Sass/variables.scss" as *;
.projectCard {
  background-color: $color-primary;
  border: 1px $color-primary;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;

  width: 80%;
  &__Content {
    display: flex;
  }
  &__Content--image {
    margin: 10px;
    height: 200px;
  }
  &__Content--Link {
    margin: 10px;
    height: 50px;
  }
}

@media all and (max-width: $breakpointmobile) {
  section {
    display: inline-block;
  }
}
