@use "../../Assets/Sass/variables" as *;
.main {
    background-image: url("../../assets/images/background.jpg");
    background-repeat: repeat-y;
    background-position: initial;
    background-color: $color-secondary;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
