@use "../../Assets/Sass/variables.scss" as *;
.techStack {
  flex-flow: row nowrap;
  background-color: $color-primary;
  border: 1px $color-primary;
  border-radius: 5px;
  padding: 10px;
  margin: 50px;
  width: 80%;
  &__Content {
    display: flex;
    justify-content: space-between;
  }
  &__Images {
    margin: 10px;
    height: 50px;
  }
}

@media all and (max-width: $breakpointmobile) {
  section {
    display: inline-block;
  }
}
