@use "../../Assets/Sass/variables.scss" as *;
.profileCard {
  position: relative;
  flex-flow: row nowrap;
  top: 40px;
  background-color: $color-primary;
  border: 1px $color-primary;
  border-radius: 5px;
  padding: 10px;
  margin: 50px;
  width: 80%;
  &__Content {
    display: flex;
  }
  &__Header {
    display: block;
  }
  &__Content--Picture {
    margin: 10px;
    height: 200px;
  }
}

@media all and (max-width: $breakpointmobile) {
  section {
    display: inline-block;
  }
}
