@use "../../Assets/Sass/variables.scss" as *;
.profileCard {
  flex-flow: row nowrap;

  background-color: $color-primary;
  border: 1px $color-primary;
  border-radius: 5px;
  padding: 10px;
  margin: 50px;
  width: 80%;
  &__Content {
    display: flex;
  }
  &__Text {
    display: block;
  }
  &__Links {
    display: flex;
    justify-content: space-around;
  }
  &__Links--Images {
    height: 50px;
  }
  &__Header {
    display: block;
  }
  &__Content--Picture {
    margin: 10px;
    height: 200px;
  }
}

@media all and (max-width: $breakpointmobile) {
  .profileCard {
    display: inline-block;
    &__Content--Picture {
      display: none;
    }
  }
}
